#container
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

h1
{
    padding: 0 5vw;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

h3
{
    padding: 0 8vw;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0;
}

p
{
    padding: 0 10vw;
    font-family: 'Slabo 27px', serif;
}

#excursion-images-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh 40vh 60vh;
    grid-template-areas:    "img-1 img-1"
                            "img-2 img-3"
                            "img-4 img-4";
    grid-gap: 10px;

    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-top: 4%;
}

#excursion-images-container img
{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#image-1
{
    grid-area: img-1;
}

#image-2
{
    grid-area: img-2;
}

#image-3
{
    grid-area: img-3;
}

#image-4
{
    grid-area: img-4;
}