<div id="container">
  <h1>Our Activities</h1>

  <h3>Excursions</h3>
  <p>Excursions to big five game reserves have taken place as part of our syllabus. The Lessons in Conservation team believe that the children will form a better understanding and connection with nature if they are exposed to it first hand.</p>
  <p>The children taken on the game drives are chosen based on participation in class and the results of the short test. The Lessons in Conservation team accompany the top achievers on the game drives where the team continues to teach the children about conservation.</p>
  <p>The ultimate goal is that the children that participate in our program will take the information back to the communities and educate their friends and family on the importance of conservation.</p>

  <div id="excursion-images-container">
    <div id="image-1" class="excursion-img">
      <img src="../../assets/group_1.jpeg" alt="Group Photo of an Excursion">
    </div>
    <div id="image-2" class="excursion-img">
      <img src="../../assets/drive_1.jpeg" alt="Photo of LiC Leader giving talk">
    </div>
    <div id="image-3" class="excursion-img">
      <img id="image-3" src="../../assets/landing.jpeg" alt="Photo of student sitting on game drive vehicle">
    </div>
    <div id="image-4" class="excursion-img">
      <img id="image-4" src="../../assets/lesson_2.jpeg" alt="Photo of student during lecture">
    </div>
  </div>
</div>