#container
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/landing.jpeg');
    background-color: white;

    box-shadow: inset 0 0 80px 40px white;
}

h1, h5
{
    color: rgb(181,163,0);
    text-shadow: 1px 1px 10px black;
    font-family: 'Titillium Web', sans-serif;
}

h1
{
    font-size: 5em;
    margin-bottom: 0;
}

h5
{
    font-size: 2em;
    margin-top: 0;
}