<div id="container">
  <h1>About us</h1>
  <p>
    Lessons in Conservation is a registered NPO that was started in 2018 by a University of Pretoria student. Lessons in Conservation has since grown and is currently run by a team of 11 students.
  </p>
  <p>
    Lessons in Conservation believes that by educating young children in rural communities about conservation, we will be interacting with a generation that will grow up to accept and love conservation and the natural world. The hope is that these children will speak to their peers and families about conservation, overthrowing cultural beliefs and ultimately growing conservation awareness in the South African communities.      
  </p>

  <h3>Mission</h3>
  <p>To create a long lasting platform to raise awareness about conservation in South African communities.</p>
  
  <h3>Mantra</h3>
  <p>Serving to save</p>
  
  <h3>Target Group</h3>
  <p>The Lessons in Conservation target group consists of learners aged 12 and upward.</p>
  

</div>