ul
{
    list-style: none;
    list-style-position: outside;
    position: fixed;
    top: 40%;
}

ul li
{
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;

}

li button
{
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    border: none;
}