
<ul>
  <li>
    <button class="hvr-icon-bob" (click)="scrollTo('landing-loc')">
      <i class="material-icons hvr-icon">sentiment_satisfied_alt</i> Welcome
    </button>
  </li>
  <li>
    <button class="hvr-icon-bob" (click)="scrollTo('about-loc')">
      <i class="material-icons hvr-icon">nature_people</i> About Us
    </button>
  </li>
  <li>
    <button class="hvr-icon-bob" (click)="scrollTo('goals-loc')">
      <i class="material-icons hvr-icon">beenhere</i> Our Goals
    </button>
  </li>
  <li>
    <button class="hvr-icon-bob" (click)="scrollTo('activities-loc')">
      <i class="material-icons hvr-icon">people</i> Our Activities
    </button>
  </li>
</ul>
