<div id="container">
  <h1>Our Goals</h1>
  <ol>
    <li>
      <p>To educate children from under privileged communities in South Africa that have limited access to information. The children will be educated about basic ecological principles and the importance of conservation.</p>
    </li>
    <li>
      <p>To educate the teachers of primary schools about basic ecological principles in the hope that these principles will be passed down to the children that they engage with. 3. To create a connection between people and wildlife through first hand engagement. This will be done by taking the children on game drives.</p>
    </li>
  </ol>

  <h3>Long term goals</h3>
  <p>Lessons in Conservation has two main long terms goals, namely</p>
  <ol>
    <li>
      <p>To build a conservation classroom in Olievenhoutbosch township. This classroom is where the Lessons in Conservation team will host their lessons. It will also be made available to children that would like to go to the classroom and use the materials in the classroom to further enhance their knowledge of conservation.</p>
    </li>
    <li>
      <p>To raise enough money to be able to send at least one outstanding student from Siyanqoba feeding foundation on a FGASA course. This will allow the learners to become qualified game rangers and thus find continuous employment. The learners that receive these bursaries will have to return to Lessons in Conservation to teach children in underprivileged areas when possible.</p>
    </li>
  </ol>
  
  <h3>Time Fame</h3>
  <p>Lessons in Conservation works in blocks. Each block consists of six 30 minute lessons. Each block will focus on a different group of people that Lessons in Conservation believes will benefit from the lessons.</p>
  
  <h3>Method</h3>
  <p>Once a week the Lessons in Conservation team go into townships to teach children about the importance of conservation. Powerpoint presentations as well as physical specimens are used to ensure that the lessons are both practical and interactive.</p>
  <p>On completion of a block, the children are required to participate in a short test. This test will be compiled by the Lessons in conservation team to evaluate the children's understanding of the syllabus.</p>
  

</div>