#container
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

h1
{
    padding: 0 5vw;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

h3
{
    padding: 0 8vw;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0;
}

ol li
{
    margin-top: 0;
    margin: 0 10vw;
    padding: 0 2vw;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
}

p
{
    padding: 0 10vw;
    font-family: 'Slabo 27px', serif;
}

li p
{
    padding: 0 1vw;    
    font-family: 'Slabo 27px', serif;
    font-weight: 300;
}