<div id="root-container">
  <div>
    <app-nav></app-nav>
  </div>
  <div>
    <app-landing id="landing-loc"></app-landing>
    <app-about id="about-loc"></app-about>
    <app-goals id="goals-loc"></app-goals>
    <app-activities id="activities-loc"></app-activities>
  </div>
</div>